<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>Shika</string>
    <key>CFBundleDisplayName</key><string>Shika</string>
    <key>CFBundleIdentifier</key><string>com.hieule.shika</string>
    <key>CFBundleExecutable</key><string>Shika</string>
    <key>CFBundleIconFile</key><string>Shika.icns</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>0.3.0</string>
    <key>CFBundleVersion</key><string>3</string>
    <key>LSMinimumSystemVersion</key><string>13.0</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key><true/>
    <key>SUFeedURL</key><string>https://useshika.com/appcast.xml</string>
    <key>SUPublicEDKey</key><string>bWNHSlvd+9GlQpRlMVV0wpuMvcqQoppcOVbzpt8pj84=</string>
    <key>SUVerifyUpdateBeforeExtraction</key><true/>
    <key>SURequireSignedFeed</key><true/>
</dict>
</plist>
